<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaaS Tutorial</title>
</head>
<body>
    <h1>Title</h1>
    <form action="/signup" method="post">
        <input required type="email" name="email" placeholder="Your email">
        <input required type="password" name="password" placeholder="Enter a password">
        <input type="submit" value="Signup for a free trial">
    </form>
</body>
</html>